<div class="order-detail-panel">
  <app-order-detail [orderId] = orderId ></app-order-detail>
</div>



<!--<div class="order-tracker-rows">
  <div class="title">YOUR ORDERS</div>
  
  <div class="order-row">
    <div class="order-number"><label class="label">Order No.: </label>#OD000012458 <span class="items-count">3 Items</span></div>
    <div class="order-date-time"><label class="label">Date: </label>Nov 9, 2018, 04:41 PM <span class="items-amount"><i class="fa fa-rupee"></i>1000</span></div>
  </div>

  <div class="order-row">
    <div class="order-number"><label class="label">Order No.: </label>#OD000012321 <span class="items-count">5 Items</span></div>
    <div class="order-date-time"><label class="label">Date: </label>Nov 3, 2018, 11:31 AM <span class="items-amount"><i class="fa fa-rupee"></i>1500</span></div>
  </div>

  <div class="order-row">
    <div class="order-number"><label class="label">Order No.: </label>#OD000012214 <span class="items-count">6 Items</span></div>
    <div class="order-date-time"><label class="label">Date: </label>Nov 1, 2018, 03:41 PM <span class="items-amount"><i class="fa fa-rupee"></i>1700</span></div>
  </div>

</div>-->