<div class="modal-header">
  <h4 class="modal-title">Reset Password</h4>
  <button type="button" class="close" aria-label="Close" title="Close" (click)="activeModal.dismiss('Cross click')">X</button>
</div>

<div class="reset-container">
  <div class="title-holder">
    <span>* Enter verification code sent on your email</span>
  </div>
	<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
		<div class="info-holder">
      <input type="text" id="txtEmail" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required/>
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">Phone number is required</div>
      </div>
			<input type="password" id="txtPassword" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6"/>
			<div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
      </div>
      <div class="code-cnt-holder">
          <div class="code-control"><input type="text" id="txtCode" name="code" placeholder="Verification Code" [(ngModel)]="model.code" #code="ngModel" [ngClass]="{ 'is-invalid': f.submitted && code.invalid }" required minlength="6"/><button (click)="sendCodeOnEmail()">SEND CODE ON MAIL</button></div>
          <div *ngIf="f.submitted && code.invalid" class="invalid-feedback">
              <div *ngIf="code.errors.required">Verification code is required</div>
          </div>
      </div>
		</div>
		<div class="action-btn-holder">
			<button class="action-btn">RESET</button>
    </div>
    
  </form>
</div>
