<div class="item-tile">
	<img src="{{itemImageRootPath}}{{image}}" width="200" height="200" >
	<div class="post-info">
		<div class="post-basic-info">
			<div class="meal-title">
				<a href="meal/{{itemId}}">{{name}}</a>
			</div>
			<div class="meal-type">
				<span *ngIf="type === 'VEG'; then veg else non_veg"></span>
				<ng-template #veg><img src="assets/images/veg-small-icon.jpg" title="VEG" /></ng-template>
				<ng-template #non_veg><img src="assets/images/non-veg-small-icon.png" title="NON-VEG" /></ng-template> 
				<span>{{category}} </span>
			</div>
			
		</div>
		<div class="post-info-rate-share">
			<div class="rateit">
				<p>
					<i class="fa fa-rupee"></i>{{netPrice}} &nbsp; <label><i
						class="fa fa-rupee"></i>{{price}}</label>
				</p>
				<!--<span> </span>-->
			</div>
			<div class="cart-action-controls">
				<!-- <div class="add-to-cart-btn">
					<span>ADD</span>
				</div> -->
				<app-minus-plus-counter [itemId] = "itemId" [name] = "name" [price] = "price" [netPrice] = "netPrice" [type] = "type" [quantity] = "quantity" ></app-minus-plus-counter>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>