<div class="modal-header">
  <h4 class="modal-title">Order Details</h4>
  <button type="button" class="close" aria-label="Close" title="Close" (click)="activeModal.dismiss('Cross click')">X</button>
</div>


<div class="order-detail-container">
    <div class="progressbar-container">
      <ul id="progressbar" class="progressbar">
        <li #confirm>Confirm</li>
        <li #shipped>Shipped</li>
        <li #delivered>Delivered</li>
      </ul>
      <div>
        <select class="status-list" id="status-list" >
          <option>CONFIRM</option>
          <option>SHIPPED</option>
          <option>DELIVERED</option>
          <option>REJECTED</option>
        </select>
        <button class="btn-change">CHANGE</button>
      </div>
    </div>
  
    <div class="order-info-panel">
      <div class="order-info"><label class="order-info-label">Order No.:</label> <span class="order-info-value">#{{orderNumber}}</span></div>
      <div class="order-info"><label class="order-info-label">Date:</label> <span class="order-info-value">{{date}}</span></div>
      <div class="order-info"><label class="order-info-label">Payment:</label> <span class="order-info-value">{{payment}}</span></div>
      <div class="order-info"><label class="order-info-label">Phone:</label> <span class="order-info-value">{{phone}}</span></div>
      <div class="delivery-address-panel"> 
        <div class="delivery-add-label">Deliver To:</div>  
        <div class="address-line">{{userDetail.name}}</div>
        <div class="address-line">{{address.street}}</div>  
        <div class="address-line">{{address.area}}</div>
        <div class="address-line">{{address.state}} - {{address.pincode}}</div>
      </div>
      
    </div>
   
    <div class="order-detail">
      <ul> 
        <li *ngFor = "let it of orderList" id="{{it.itemId}}">
          <div class="cart-item">
            <div class="item-info">
              <div class="item-type">
                <span *ngIf="it.type === 'VEG'; then veg else non_veg"></span>
                <ng-template #veg><img src="assets/images/veg-small-icon.jpg" title="VEG" /></ng-template>
                <ng-template #non_veg><img src="assets/images/non-veg-small-icon.png" title="NON-VEG" /></ng-template> 
              </div>
              <div class="item-text">{{it.itemName}}</div>
            </div>
            <div class="item-price-contols">
              <div class="item-price">
                  <i class="fa fa-rupee"></i>{{it.netPrice}} X {{it.quantity}}							
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="final-order-holder">
        <div class="row-main"><label>Item Price</label><span><i class="fa fa-rupee"></i>{{itemPrice}}</span></div>
        <div class="row-main"><label>Delivery Charges</label><span>+ <i class="fa fa-rupee"></i>{{deliveryCharge}}</span></div>
        <div class="row-main"><label>GST (5%)</label><span>+ <i class="fa fa-rupee"></i>{{gst}}</span></div>
        <div class="row-sub"><label>CGST (2.5%)</label><span>+ <i class="fa fa-rupee"></i>{{cgst}}</span></div>
        <div class="row-sub"><label>SGST (2.5%)</label><span>+ <i class="fa fa-rupee"></i>{{sgst}}</span></div>
        <div class="row-main"><label>Coupon Discount</label><span>- <i class="fa fa-rupee"></i>{{couponDiscount}}</span></div>
      </div>
      <div class="payable-holder">
        <div class="payable-main"><label>Final Amount</label><span><i class="fa fa-rupee"></i>{{payable}}</span></div>
      </div>
    </div>
  </div>